nav{
  font-size: 25px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  cursor: none;
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
  cursor: auto;
}
.headline, .skills, .card-title{
  color:white;
}

h1{
  font-size: 70px;
}

.job-title, .section-headline, .section-message{
  color: #D9B312;
}



.bg-about, .bg-contact{
background-color: #1D1D25;
}

.bg-contact{
  padding: 60px 0;
}

.bg-projects{
  background-color: black;
}

.card{
  background-color: #1D1D25;
  padding: 20px 0;
  border: none;
}
.preview, .contact-label{
  color:white;
}

.bg-projects {
  padding-top: 50px;
  padding-bottom: 50px;
  }

.about-content, .project-content, .section-message{
  font-size: 20px;
  color:white;
}

.separator{
  color:white;
}

input,
input[type="text"],
select,
textarea {
padding: 12px;
border: 1px solid white;
border-radius: 4px;
box-sizing: border-box;
margin-top: 10px;
margin-bottom: 25px;
resize: vertical;
color: white;
}

input[type="submit"] {
  background-color: #d9b310 !important;
  color: #191919 !important;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

input[type="submit"]:hover {
background-color: transparent;
border: 2px solid #d9b310;
color: white;
cursor: pointer;
}

.sendBtn {
  width: 100px;
  height: 45px;
  font-size: 17px;
}

label{
  font-size: 20px;
}

.navbar-nav .nav-link.active {
  color: #d9b310 !important;
}

.project-content{
font-size: 12px;
}

.scrolled {
box-shadow: 0 5px 5px rgba(217, 179, 16, 1);
}

.scale {
  transition: transform 0.3s ease-in-out; 
  }
.scale:hover {
  transform: scale(1.1);
  border: solid 2px rgba(217, 179, 16, 1);
  z-index: 1;
}


.nav-link.text-white:hover {
  color: #d9b310 !important;
}

/* Add this to styles.css */

.mode-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode-label {
  margin-left: 10px;
}

/* Add this to styles.css */

body.dark-mode, body.dark-mode .bg-projects{
  background-color:white
}
body.dark-mode .bg-about, body.dark-mode .card-body, body.dark-mode .bg-contact {
  background-color:#ECE8DD;
}

body.dark-mode .headline, body.dark-mode .skills,  body.dark-mode .about-content, body.dark-mode .card-title, body.dark-mode .project-content, body.dark-mode .preview, body.dark-mode .contact-label, body.dark-mode .section-message, body.dark-mode .separator{
  color: black;
}






